=form_for(@fantasy_quiz) do |f|
  %p
    =f.label :name 
    %br
    =f.text_field :name

  %p
    =f.label :email
    %br
    =f.text_field :email

  %p
    Question 1
    %br
    =f.radio_button(:question_one_answer, "JJ Redick")
    =f.label(:JJ_Redick, "JJ Redick")
    =f.radio_button(:question_one_answer, "Ryan Anderson")
    =f.label(:Ryan_Anderson, "Ryan Anderson")
    =f.radio_button(:question_one_answer, "Jeremy Lin")
    =f.label(:Jeremy_Lin, "Jeremy Lin")
    =f.radio_button(:question_one_answer, "James Johnson")
    =f.label(:James_Johnson, "James Johnson")
    
  %p
    =f.label :question_one_answer
    %br
    =f.text_field :question_one_answer
  %p
    =f.label :question_one_score
    %br
    =f.text_field :question_one_score
  %p
    =f.label :question_two_answer
    %br
    =f.text_field :question_two_answer
  %p
    =f.label :question_two_score
    %br
    =f.text_field :question_two_score
  %p
    =f.submit
    =link_to "Cancel", @fantasy_quiz