.quiz_entry
  %h1 Start the quiz when you're ready:
  =link_to "Start Quiz", new_fantasy_quiz_path

%br
%br
.quiz_entries
  %h2 Quiz Entries
  - @fantasy_quizzes.each do |quiz|
    %p=quiz.name
    %p=link_to "View this entry", fantasy_quiz_path(quiz)